{% extends 'layouts/base.html.twig' %}

{% block title %}Chat perdu
{% endblock %}

{% block body %}
	<div class="p-4">

		<div class="row g-5">
			<div class="col-md-8 rad-20 p-0 bord-light" style="background-color:#ededed;position:relative">
				<div class="w-100" style="padding: 0 20px; background-color:#219c7d; color:white; border-radius:20px;position:absolute;top:0;right:0;left:0;z-index:10;">
					<h5 class="py-1 px-auto fst-italic">
						<span class="text-white">
							<i class="fas fa-paw"></i>
						</span>
						J'ai perdu mon chat</h5>
				</div>
				<br>
				<div class="container mt-5">
					<div class="row rad-20 p-2 bord-light bg-white ">
						<small class="slim-brown text-center">En remplissant ce formulaire, votre annonce sera publiée
							<span class="bold-brown">immédiatement</span>
							sur notre site</small>
						<div class="col-lg-12 mt-3">
							<div class="row">
								{{ form_start(form)}}
								<div class="w-100 mx-0 px-4 rad-20 text-white" style="background-color:#99c93d; border:2px solid green">
									<small class="py-1 px-auto">Informations sur l'animal</small>
								</div>
								<br>
								<div class="d-flex">
									<div class="col-md-4 col-sm-3">
										<div class="mb-5">
											<label for="race" class="bold-brown">
												Race :<br>
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown">
												Sexe :
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown mt-1">
												Couleur :
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown mt-1">
												<small>Nom(optionnel)</small>
												:
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown mt-1">
												Age :
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown mt-1">
												<small>Puce(optionnel)</small>
												:
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown">
												Détails :
											</label>
										</div>
									</div>
									<div class="col-md-8 col-sm-9">
										<div class="mb-5">
											{{ form_row(form.race) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.gender) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.color) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.name) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.age) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.puce) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.description) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="w-100 mx-0 px-4 rad-20 text-white" style="background-color:#99c93d; border:2px solid green"></div>
								<br>
								<div class="d-flex">
									<div class="col-md-4 col-sm-3 mt-3">
										<div class="mb-5 mt-2">
											<label for="race" class="bold-brown">
												Date :<br>
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown">
												Titre :<br>
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown">
												Ville :<br>
											</label>
										</div>
										<div class="mb-5">
											<label for="race" class="bold-brown">
												<small>Image(optionnel)</small>
												:
											</label>
										</div>
									</div>
									<div class="col-md-8 col-sm-9">
										<div class="mb-4">
											{{ form_row(form.lostAt) }}
										</div>

										<div class="mb-5">
											{{ form_row(form.title) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.location) }}
										</div>
										<div class="mb-5">
											{{ form_row(form.image) }}
										</div>
									</div>
								</div>
								<br>
								{{ form_row(form.isLost) }}

								<div class="mb-3">
									{{ form_row(form.submit) }}
								</div>
								{{ form_end(form)}}
							</div>


						</div>
					</div>
				</div>
			</div>
			<!-- start right col -->
			<div class="col-md-4">
				<div class="position-sticky" style="top: 2rem;">
					{{ include('partials/section_right.html.twig')}}
				</div>
			</div>
		</div>

	{% endblock %}
