{% extends 'layouts/base.html.twig' %}

{% block title %}Animaux perdus
{% endblock %}

{% block body %}
	<div class="p-5">

		<div class="row g-5">
			<div class="col-md-8 brown rad-20 p-5 bord-light">
				<h3 class="pb-4 mb-4  border-bottom bold-brown">
					Les chiens et chats perdus
				</h3>

				{{ include('partials/nav_results.html.twig')}}

				{% for annonce in annonces %}
					{% set status =  annonce.animal.isLost == 1 ? 'perdu' : 'trouvé' %}
					{% set date =  annonce.animal.isLost == 1 ? annonce.lostAt : annonce.foundAt %}
					<div class="p-3 bord-light rad-20 bg-white mb-2">
						<div class="row">
							<div class="col-lg-4 col-md-12 col-sm-6  text-center my-auto">
								{% if annonce.image starts with 'https' %}
									<img class="image_card mt-2" src="{{ annonce.image }}" alt="" width="120" height="100">
								{% else %}
									<img class="image_card mt-2" src=" {{ asset('uploads/' ~ annonce.image) }}" alt="" width="120" height="100">
								{% endif %}
							</div>

							<div class="col-lg-4 col-md-12 col-sm-6 text-center py-3">
								<p>
									<span class="text-green">{{ annonce.animal.type | capitalize ~ ' ' ~ status}}</span><br>
									<span class="slim-brown" style="font-size:14px">{{ status | capitalize }}
										le :
										{{ date | date('d/m/Y')}}
									</span><br>
									<span class="slim-brown">Lieu :
										<small>{{ annonce.location }}</small>
									</span><br>
									<span class="slim-brown">Race :
										<small>{{ annonce.animal.race }}</small>
									</span><br>
									<span class="slim-brown">Sexe :
										{{ annonce.animal.gender }}
									</span><br>
								</p>
							</div>

							<div class="col-lg-4 col-md-12 col-sm-12 my-auto text-center mx-0 pb-3">
								<div class="my-auto button_link_card">
									<a href="{{ path('annonce_show', {numero: annonce.numero}) }}" class="link_card text-green rad-20">Voir l'annonce</a><br>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="navigation">
					{{ knp_pagination_render(annonces, null, {}, {
   'align': 'center',
   'size': 'large',
   'rounded': true,
})  }}
				</div>

				{{ include('partials/nav_results.html.twig')}}
			</div>

			<!-- start right col -->
			<div class="col-md-4">
				<div class="position-sticky" style="top: 2rem;">
					{{ include('partials/section_right.html.twig')}}
				</div>
			</div>
		{% endblock %}
