{% extends 'layouts/base2.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-6 col-md-6 mt-5 mx-auto pt-5">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<h1 class="h3 mb-3 font-weight-normal">S'identifier</h1>

					<div class="mb-3">
						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" autocomplete="email" required>
					</div>
					<div class="mb-3">
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control input" autocomplete="current-password" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="d-flex justify-content-between">
						<button class="btn btn-lg btn-login py-2" type="submit" formnovalidate>
							Valider
						</button>
						<small>
							<a href="{{ path('reset_password') }}">J'ai oublié mon mot de passe</a>
						</small>
					</div>
				</form>
				<br>
				<small>Je n'ai pas encore de compte,
					<a href="{{ path('app_register') }}">Je m'inscris</a>
				</small>
			</div>
		</div>
	</div>
{% endblock %}
