{% extends 'layouts/base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}
	<div class="p-5">
		<div class="row g-5">
			<div class="col-md-8 brown rad-20 p-5 bord-light">
				<h3 class="pb-4 mb-4 border-bottom bold-brown">
					{{ '"' ~ annonce.title ~ '" : ' ~ '(annonce n° ' ~ annonce.numero ~ ')'}}
				</h3>
				<div class="p-3 bord-light rad-20 bg-white mb-2">
					<div class="row">
						<div class="col-md-5">
							{% if annonce.image starts with 'https' %}
								<img class="image_card" src="{{ annonce.image }}" alt="" width="270" height="350">
							{% else %}
								<img class="image_card" src=" {{ asset('uploads/' ~ annonce.image) }}" alt="" width="270" height="350">
							{% endif %}

							<div class="contact-card mt-2 text-center">
								<small class="text-green ">Vous avez trouvé cet animal?</small><br>
								<small class="text-green">Veuillez contacter :</small><br>
								<small>{{ annonce.user.firstname  ~ ' ' ~ annonce.user.lastname }}</small>
								<br>
								{% if app.user %}
									<button class="w-100 text-green btn btn-contact bg-white mb-1" id="send_message" data-toggle="modal" data-target="#exampleModal">
										<i class="far fa-envelope"></i>
										Envoyer un message</button><br>
									<button class="w-100 text-green btn btn-contact bg-white" id="display_phone">
										<i class="fas fa-phone"></i>
										<span type="button" class="annonce_phone">Afficher le nunméro</span>
									</button>
								{% else %}
									<a href="#" class="w-100 text-green" data-toggle="modal" data-target="#loginModal">
										<i class="far fa-envelope"></i>
										Envoyer un message</a><br>
									<a href="#" class="w-100 text-green" data-toggle="modal" data-target="#loginModal">
										<i class="fas fa-phone"></i>
										Afficher le nunméro
									</a>
								{% endif %}
							</div>
						</div>


						<ul class="list-group col-md-7 mb-3">
							<li class="list-group-item">
								<span class="title_span_show">Nom :</span>
								<span>{{ annonce.animal.name }}</span>
							</li>
							<li class="list-group-item">
								<span class="title_span_show">Race :</span>
								<span>{{ annonce.animal.race }}</span>
							</li>
							<li class="list-group-item">
								<span class="title_span_show">Sexe :</span>
								<span>{{ annonce.animal.gender }}</span>
							</li>
							<li class="list-group-item">
								<span class="title_span_show">Couleur :</span>
								<span>{{ annonce.animal.color }}</span>
							</li>
							{% if annonce.animal.isLost %}
								<li class="list-group-item">
									<span class="title_span_show">Age :</span>
									<span>{{ annonce.animal.age ~' ans'}}</span>
								</li>
							{% endif %}
							<li class="list-group-item">
								<span class="title_span_show">Ville :</span>
								<span>{{ annonce.location }}</span>
							</li>
							{% if annonce.animal.isLost %}
								<li class="list-group-item">
									<span class="title_span_show">Perdu le :</span>
									<span>{{ annonce.lostAt | date('d/m/Y') }}</span>
								</li>
							{% else %}
								<li class="list-group-item">
									<span class="title_span_show">Perdu le :</span>
									<span>{{ annonce.foundAt | date('d/m/Y') }}</span>
								</li>
							{% endif %}
							{% if annonce.animal.isLost %}
								<li class="list-group-item">
									<span class="title_span_show">Puce :</span>
									<span>{{ annonce.animal.puce ? annonce.animal.puce : 'non pucé'}}</span>
								</li>
							{% endif %}
							<li class="list-group-item">
								<span class="title_span_show">Santé :</span>
								<span>Bonne santé</span>
							</li>
							<li class="list-group-item">
								<span class="title_span_show">Description :</span><br>
								<span>{{ annonce.description}}</span>
							</li>
							<li class="list-group-item">
								<span class="title_span_show">Date annonce :</span>
								<span>{{ annonce.createdAt | date('d/m/Y')}}</span>
							</li>
							<li class="list-group-item">
								<span class="title_span_show">Contact :</span>
								<span>{{ annonce.user.firstname  ~ ' ' ~ annonce.user.lastname }}</span>
							</li>
						</ul>
					</div>
				</div>
			</div><!-- start right col --><div class="col-md-4">
				<div class="position-sticky" style="top: 2rem;">
					{{ include('partials/section_right.html.twig')}}</div>
			</div>
		</div>
	</div>
</div>
{{ include('partials/login_info_modal.html.twig') }}{{ include('partials/send_message_modal.html.twig') }}{% endblock %}{% block javascript_custom %}
<script defer>
	$('.annonce_phone').on('click', function (e) {
$('.annonce_phone').html({{ annonce.user.phone }});
})
</script>{% endblock %}
