<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="theme-color" content="#7952b3">
		<link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('images/logo.ico') }}">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		{{ include('@MercurySeriesFlashy/flashy.html.twig') }}

		{% for message in app.flashes('registration') %}
			<p class="h3 text-success text-center mt-5">{{ message}}</p>
		{% endfor %}
		{% for message in app.flashes('violation') %}
			<p class="h3 text-success text-center mt-5">{{ message}}</p>
		{% endfor %}
		<main class="container"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
